Repository ffloyd/flows: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, reek, markdownlinter, forspell

rubocop:
  run: bundle exec rubocop {staged_files}

reek:
  run: bundle exec reek {staged_files}

markdownlinter:
  run: bundle exec mdl {staged_files}

forspell:
  run: bundle exec forspell {staged_files}

chore: add awesome_print to dev dependencies
  Gemfile.lock
  flows.gemspec
Due: rubocop

chore: refactor Ext::InheritableAttrs
  lib/flows/ext/inheritable_attrs.rb
  lib/flows/ext/inheritable_attrs/dup_strategy.rb
  lib/flows/ext/inheritable_attrs/reinit_strategy.rb
  lib/flows/operation/dsl.rb
  lib/flows/railway/dsl.rb
Due: rubocop, reek, forspell

feat!: inheritance support for Flows::Result::Do
  .reek.yml
  lib/flows/result/do.rb
  spec/flows/result/do_spec.rb
Due: rubocop, reek, forspell

chore: refactor `require`s structure
  lib/flows.rb
  lib/flows/ext.rb
  lib/flows/operation.rb
  lib/flows/railway.rb
  lib/flows/result/do.rb
Due: rubocop, reek, forspell

fix: possible bad behaviour in parallel code for Railway
  lib/flows/railway/executor.rb
Due: rubocop, reek, forspell

docs: update TODO list
  TODO.md
  TODO.org
Due: rubocop, markdownlinter, forspell

chore: update mdl dependency
  Gemfile
  Gemfile.lock
  flows.gemspec
Due: rubocop

chore: improve default rake task
  .github/workflows/build.yml
  Rakefile
Due: rubocop

chore: some high-level cleanup
  .reek.yml
  README.md
  bin/console
  bin/ruby_benchmarks
  flows.gemspec
  forspell.dict
  lib/flows/node.rb
Due: rubocop, reek, markdownlinter, forspell

Add Inch linter to setup (not mandatory one)
  Gemfile.lock
  Rakefile
  flows.gemspec
Due: rubocop

chore: remove `name` field from `Flows::Node` we don't need this field because name is not part of a node itself.
  .reek.yml
  README.md
  lib/flows/flow.rb
  lib/flows/node.rb
  spec/flows/flow_spec.rb
  spec/flows/node_spec.rb
Due: rubocop, reek, markdownlinter, forspell

chore: add YARD as a documentation tool
  .yardopts
  Gemfile.lock
  README.md
  flows.gemspec
  lib/flows.rb
Due: rubocop, reek, markdownlinter, forspell

chore: refactor `ImplicitBuild` => `ImplicitInit` + docs
  lib/flows/ext.rb
  lib/flows/ext/implicit_build.rb
  lib/flows/ext/implicit_init.rb
  spec/flows/ext/implicit_init_spec.rb
Due: rubocop, reek, forspell

chore: refactor and add docs for `InheritableSingletonVars::DupStrategy`
  lib/flows/ext.rb
  lib/flows/ext/implicit_init.rb
  lib/flows/ext/inheritable_attrs.rb
  lib/flows/ext/inheritable_attrs/dup_strategy.rb
  lib/flows/ext/inheritable_singleton_vars.rb
  lib/flows/ext/inheritable_singleton_vars/dup_strategy.rb
  lib/flows/ext/inheritable_singleton_vars/reinit_strategy.rb
  lib/flows/result/do.rb
  spec/flows/ext/inheritable_singleton_vars/dup_strategy_spec.rb
Due: rubocop, reek, forspell

chore: add ./bin/docserver command
  README.md
  bin/docserver
Due: rubocop, markdownlinter, forspell

chore: refactor and add docs: `ReinitStrategy => IsolationStrategy`
  lib/flows/ext/inheritable_singleton_vars.rb
  lib/flows/ext/inheritable_singleton_vars/dup_strategy.rb
  lib/flows/ext/inheritable_singleton_vars/isolation_strategy.rb
  lib/flows/ext/inheritable_singleton_vars/reinit_strategy.rb
  spec/flows/ext/inheritable_singleton_vars/isolation_strategy_spec.rb
Due: rubocop, reek, forspell

feat: InheritableSingletonVars strategies can be mixed now
  lib/flows/ext/inheritable_singleton_vars.rb
  lib/flows/ext/inheritable_singleton_vars/dup_strategy.rb
  lib/flows/ext/inheritable_singleton_vars/isolation_strategy.rb
  lib/flows/result/do.rb
  spec/flows/ext/inheritable_singleton_vars_spec.rb
  spec/spec_helper.rb
Due: rubocop, reek, forspell

chore: refactor and add docs: `Flows::Result`
  lib/flows/result.rb
  lib/flows/result/do.rb
  lib/flows/result/err.rb
  lib/flows/result/errors.rb
  lib/flows/result/helpers.rb
  lib/flows/result/ok.rb
  spec/flows/result/do_spec.rb
  spec/flows/result/err_spec.rb
  spec/flows/result/helpers_spec.rb
  spec/flows/result/ok_spec.rb
Due: rubocop, reek, forspell

chore: refactor and add docs: Flows::Flow
  forspell.dict
  lib/flows.rb
  lib/flows/flow.rb
  lib/flows/flow/node.rb
  lib/flows/flow/router.rb
  lib/flows/flow/router/custom.rb
  lib/flows/flow/router/errors.rb
  lib/flows/flow/router/simple.rb
  lib/flows/node.rb
  lib/flows/result.rb
  lib/flows/result_router.rb
  lib/flows/router.rb
  spec/flows/flow/node_spec.rb
  spec/flows/flow/router/custom_spec.rb
  spec/flows/flow/router/simple_spec.rb
  spec/flows/flow_spec.rb
Due: rubocop, reek, forspell

feat: add `PrependToClass` extension
  lib/flows/ext.rb
  lib/flows/ext/prepend_to_class.rb
  spec/flows/ext/prepend_to_class_spec.rb
Due: rubocop, reek, forspell

chore: add benchmark for struct implementations
  bin/ruby_benchmarks
Due: none

feat!: change `PrependToClass` signature
  .reek.yml
  lib/flows/ext/prepend_to_class.rb
  spec/flows/ext/prepend_to_class_spec.rb
Due: rubocop, reek, forspell

feat: add module inheritance support for InheritableSingletonVars
  lib/flows/ext/inheritable_singleton_vars/dup_strategy.rb
  lib/flows/ext/inheritable_singleton_vars/isolation_strategy.rb
  spec/flows/ext/inheritable_singleton_vars/dup_strategy_spec.rb
  spec/flows/ext/inheritable_singleton_vars/isolation_strategy_spec.rb
Due: rubocop, reek, forspell

feat: Add DependencyInjector
  lib/flows/ext.rb
  lib/flows/ext/dependency_injector.rb
  lib/flows/ext/dependency_injector/dependency.rb
  lib/flows/ext/dependency_injector/dependency_definition.rb
  lib/flows/ext/dependency_injector/dependency_list.rb
  lib/flows/ext/dependency_injector/errors.rb
  spec/flows/ext/dependency_injector_spec.rb
Due: rubocop, reek, forspell

feat: add Railway
  bin/ruby_benchmarks
  lib/flows.rb
  lib/flows/railway.rb
  lib/flows/railway/dsl.rb
  lib/flows/railway/errors.rb
  lib/flows/railway/step.rb
  lib/flows/railway/step_list.rb
  spec/flows/railway_spec.rb
Due: rubocop, reek, forspell

chore: add benchmarks
  bin/benchmark
  bin/examples.rb
Due: rubocop, reek, forspell

chore: update development dependencies
  Gemfile.lock
Due: none

chore: comment out 2.7.x builds, Ruby 2.7.0 is unstable
  .github/workflows/build.yml
Due: none

feat: add `ok_data(...)` and `err_data(...)` to result helpers
  .reek.yml
  lib/flows/result/errors.rb
  lib/flows/result/helpers.rb
  spec/flows/result/helpers_spec.rb
Due: rubocop, reek, forspell

fix: wrong behaviour when passing empty kwargs from Node's preprocessor
  lib/flows/flow/node.rb
  spec/flows/flow/node_spec.rb
Due: rubocop, reek, forspell

chore: simplify routers
  .rubocop.yml
  lib/flows/flow.rb
  lib/flows/flow/node.rb
  lib/flows/flow/router.rb
  lib/flows/flow/router/custom.rb
  lib/flows/flow/router/simple.rb
  spec/flows/flow/router/custom_spec.rb
  spec/flows/flow_spec.rb
Due: rubocop, reek, forspell

feat: basic implementation of SharedContextPipeline
  .reek.yml
  lib/flows.rb
  lib/flows/result/err.rb
  lib/flows/result/ok.rb
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/dsl.rb
  lib/flows/shared_context_pipeline/errors.rb
  lib/flows/shared_context_pipeline/mutation_step.rb
  lib/flows/shared_context_pipeline/step.rb
  lib/flows/shared_context_pipeline/step_list.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, forspell

chore: expand benchmarks
  bin/benchmark
  bin/examples.rb
Due: rubocop, reek, forspell

chore: remove current inaccurate benchmark scripts
  bin/benchmark
  bin/examples.rb
  bin/ruby_benchmarks
Due: rubocop, reek, forspell

chore: add Thor dependency
  Gemfile.lock
  flows.gemspec
Due: rubocop

chore: improve mutation steps performance
  lib/flows/shared_context_pipeline/mutation_step.rb
Due: rubocop, reek, forspell

chore: get rid of Thor and use GLI to make Benchmark CLI
  Gemfile.lock
  bin/.rubocop.yml
  bin/benchmark
  bin/benchmark_cli/compare.rb
  bin/benchmark_cli/compare/a_plus_b.rb
  bin/benchmark_cli/compare/base.rb
  bin/benchmark_cli/compare/command.rb
  bin/benchmark_cli/compare/ten_steps.rb
  bin/benchmark_cli/examples.rb
  bin/benchmark_cli/examples/.rubocop.yml
  bin/benchmark_cli/examples/a_plus_b/dry_do.rb
  bin/benchmark_cli/examples/a_plus_b/dry_transaction.rb
  bin/benchmark_cli/examples/a_plus_b/flows_do.rb
  bin/benchmark_cli/examples/a_plus_b/flows_railway.rb
  bin/benchmark_cli/examples/a_plus_b/flows_scp.rb
  bin/benchmark_cli/examples/a_plus_b/flows_scp_mut.rb
  bin/benchmark_cli/examples/a_plus_b/trailblazer.rb
  bin/benchmark_cli/examples/ten_steps/dry_do.rb
  bin/benchmark_cli/examples/ten_steps/dry_transaction.rb
  bin/benchmark_cli/examples/ten_steps/flows_do.rb
  bin/benchmark_cli/examples/ten_steps/flows_railway.rb
  bin/benchmark_cli/examples/ten_steps/flows_scp.rb
  bin/benchmark_cli/examples/ten_steps/flows_scp_mut.rb
  bin/benchmark_cli/examples/ten_steps/trailblazer.rb
  bin/benchmark_cli/helpers.rb
  bin/benchmark_cli/ruby.rb
  bin/benchmark_cli/ruby/command.rb
  bin/benchmark_cli/ruby/method_exec.rb
  bin/benchmark_cli/ruby/structs.rb
  flows.gemspec
Due: rubocop, reek, forspell

docs: add missing documentation for Flows SCP
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/step.rb
Due: rubocop, reek, forspell

feat: tracks & routing for SCP
  lib/flows/flow/router/custom.rb
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/dsl.rb
  lib/flows/shared_context_pipeline/mutation_step.rb
  lib/flows/shared_context_pipeline/router_definition.rb
  lib/flows/shared_context_pipeline/step.rb
  lib/flows/shared_context_pipeline/step_list.rb
  lib/flows/shared_context_pipeline/track.rb
  lib/flows/shared_context_pipeline/track_list.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, forspell

Path conditions:
  rubocop: any of: {*.rb,*.md,*.gemspec,Gemfile,Rakefile}
  reek: any of: *.rb, but not: ^spec
  markdownlinter: any of: *.md
  forspell: any of: {*.md,*.rb}
