Repository ffloyd/flows: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, reek, markdownlinter, forspell

rubocop:
  run: bundle exec rubocop {staged_files}

reek:
  run: bundle exec reek {staged_files}

markdownlinter:
  run: bundle exec mdl {staged_files}

forspell:
  run: bundle exec forspell {staged_files}

feat: add == to results
  lib/flows/result.rb
  lib/flows/result/ok.rb
  spec/flows/result/ok_spec.rb
Due: rubocop, reek, forspell

feat: callbacks for Flows::SharedContextPipeline
  .reek.yml
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/dsl.rb
  lib/flows/shared_context_pipeline/mutation_step.rb
  lib/flows/shared_context_pipeline/step.rb
  spec/flows/shared_context_pipeline_spec.rb
  spec/spec_helper.rb
Due: rubocop, reek, forspell

chore: improve spec_helper
  spec/spec_helper.rb
  spec/support/helpers.rb
Due: rubocop, forspell

docs: fix typo
  lib/flows/result/do.rb
Due: rubocop, reek, forspell

feat: add Flows::Shape and match & predicate shapes
  .rubocop.yml
  lib/flows.rb
  lib/flows/shape.rb
  lib/flows/shape/error.rb
  lib/flows/shape/helpers.rb
  lib/flows/shape/match.rb
  lib/flows/shape/predicate.rb
  spec/flows/shape/match_spec.rb
  spec/flows/shape/predicate_spec.rb
  spec/support/shared.rb
Due: rubocop, reek, forspell

chore: refactor Flows::Shape -> Flows::Type
  .rubocop.yml
  lib/flows.rb
  lib/flows/type.rb
  lib/flows/type/error.rb
  lib/flows/type/helpers.rb
  lib/flows/type/predicate.rb
  lib/flows/type/ruby.rb
  spec/flows/shape/match_spec.rb
  spec/flows/type/predicate_spec.rb
  spec/flows/type/ruby_spec.rb
  spec/support/shared.rb
Due: rubocop, reek, forspell

feat: draft implementation of Hash and HashOf types
  .reek.yml
  .rubocop.yml
  Rakefile
  lib/flows/type.rb
  lib/flows/type/error.rb
  lib/flows/type/hash.rb
  lib/flows/type/hash_of.rb
  lib/flows/type/predicate.rb
  lib/flows/type/ruby.rb
  spec/flows/type/hash_of_spec.rb
  spec/flows/type/hash_spec.rb
  spec/flows/type/predicate_spec.rb
  spec/flows/type/ruby_spec.rb
  spec/support/shared.rb
Due: rubocop, reek, forspell

chore: refactor Type -> Contract
  .reek.yml
  .rubocop.yml
  lib/flows.rb
  lib/flows/contract.rb
  lib/flows/contract/case_eq.rb
  lib/flows/contract/error.rb
  lib/flows/contract/hash.rb
  lib/flows/contract/hash_of.rb
  lib/flows/contract/predicate.rb
  lib/flows/type.rb
  lib/flows/type/helpers.rb
  spec/flows/contract/case_eq_spec.rb
  spec/flows/contract/hash_of_spec.rb
  spec/flows/contract/hash_spec.rb
  spec/flows/contract/predicate_spec.rb
  spec/flows/type/ruby_spec.rb
  spec/support/shared.rb
Due: rubocop, reek, forspell

feat: first finalized Contract system
  .reek.yml
  forspell.dict
  lib/flows/contract.rb
  lib/flows/contract/array.rb
  lib/flows/contract/case_eq.rb
  lib/flows/contract/compose.rb
  lib/flows/contract/either.rb
  lib/flows/contract/hash.rb
  lib/flows/contract/hash_of.rb
  lib/flows/contract/helpers.rb
  lib/flows/contract/predicate.rb
  lib/flows/contract/transformer.rb
  lib/flows/contract/tuple.rb
  spec/flows/contract/array_spec.rb
  spec/flows/contract/compose_spec.rb
  spec/flows/contract/either_spec.rb
  spec/flows/contract/hash_of_spec.rb
  spec/flows/contract/hash_spec.rb
  spec/flows/contract/transformer_spec.rb
  spec/flows/contract/tuple_spec.rb
  spec/flows/contract_spec.rb
  spec/support/shared.rb
Due: rubocop, reek, forspell

chore: rename Ext to Utils
  lib/flows.rb
  lib/flows/ext.rb
  lib/flows/railway.rb
  lib/flows/railway/dsl.rb
  lib/flows/result/do.rb
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/dsl.rb
  lib/flows/utils.rb
  lib/flows/utils/dependency_injector.rb
  lib/flows/utils/dependency_injector/dependency.rb
  lib/flows/utils/dependency_injector/dependency_definition.rb
  lib/flows/utils/dependency_injector/dependency_list.rb
  lib/flows/utils/dependency_injector/errors.rb
  lib/flows/utils/implicit_init.rb
  lib/flows/utils/inheritable_singleton_vars.rb
  lib/flows/utils/inheritable_singleton_vars/dup_strategy.rb
  lib/flows/utils/inheritable_singleton_vars/isolation_strategy.rb
  lib/flows/utils/prepend_to_class.rb
  spec/flows/utils/dependency_injector_spec.rb
  spec/flows/utils/implicit_init_spec.rb
  spec/flows/utils/inheritable_singleton_vars/dup_strategy_spec.rb
  spec/flows/utils/inheritable_singleton_vars/isolation_strategy_spec.rb
  spec/flows/utils/inheritable_singleton_vars_spec.rb
  spec/flows/utils/prepend_to_class_spec.rb
Due: rubocop, reek, forspell

chore: split Utils to Plugin and Util
  lib/flows.rb
  lib/flows/plugin.rb
  lib/flows/plugin/dependency_injector.rb
  lib/flows/plugin/dependency_injector/dependency.rb
  lib/flows/plugin/dependency_injector/dependency_definition.rb
  lib/flows/plugin/dependency_injector/dependency_list.rb
  lib/flows/plugin/dependency_injector/errors.rb
  lib/flows/plugin/implicit_init.rb
  lib/flows/railway.rb
  lib/flows/railway/dsl.rb
  lib/flows/result/do.rb
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/dsl.rb
  lib/flows/util.rb
  lib/flows/util/inheritable_singleton_vars.rb
  lib/flows/util/inheritable_singleton_vars/dup_strategy.rb
  lib/flows/util/inheritable_singleton_vars/isolation_strategy.rb
  lib/flows/util/prepend_to_class.rb
  lib/flows/utils.rb
  spec/flows/plugin/dependency_injector_spec.rb
  spec/flows/plugin/implicit_init_spec.rb
  spec/flows/util/inheritable_singleton_vars/dup_strategy_spec.rb
  spec/flows/util/inheritable_singleton_vars/isolation_strategy_spec.rb
  spec/flows/util/inheritable_singleton_vars_spec.rb
  spec/flows/util/prepend_to_class_spec.rb
Due: rubocop, reek, forspell

feat: initial implementation of OutputContract
  lib/flows/contract.rb
  lib/flows/plugin.rb
  lib/flows/plugin/output_contract.rb
  lib/flows/plugin/output_contract/dsl.rb
  lib/flows/plugin/output_contract/errors.rb
  lib/flows/plugin/output_contract/wrapper.rb
  lib/flows/result.rb
  spec/flows/plugin/output_contract_spec.rb
Due: rubocop, reek, forspell

chore: refactor benchmarks CLI
  bin/benchmark
  bin/benchmark_cli/compare.rb
  bin/benchmark_cli/compare/base.rb
  bin/benchmark_cli/compare/command.rb
Due: rubocop, reek, forspell

chore: add benchmarks for output contracts
  .gitignore
  bin/benchmark_cli/compare.rb
  bin/benchmark_cli/examples.rb
  bin/benchmark_cli/examples/a_plus_b/flows_scp_oc.rb
  bin/benchmark_cli/examples/ten_steps/flows_scp_oc.rb
Due: rubocop, reek, forspell

chore: improve error reporting for contracts, router and DI
  bin/errors
  bin/errors_cli/contract_error_demo.rb
  bin/errors_cli/di_error_demo.rb
  bin/errors_cli/flows_router_error_demo.rb
  lib/flows/contract/array.rb
  lib/flows/contract/hash_of.rb
  lib/flows/flow/router/custom.rb
  lib/flows/plugin/dependency_injector.rb
  lib/flows/plugin/dependency_injector/dependency.rb
  lib/flows/plugin/dependency_injector/dependency_definition.rb
  lib/flows/plugin/dependency_injector/dependency_list.rb
  lib/flows/plugin/dependency_injector/errors.rb
  spec/flows/contract/hash_of_spec.rb
Due: rubocop, reek, forspell

chore: improve error reporting for OutputContract plugin
  bin/errors
  bin/errors_cli/oc_error_demo.rb
  lib/flows/plugin/output_contract/errors.rb
  lib/flows/plugin/output_contract/wrapper.rb
Due: rubocop, reek, forspell

chore: add self.class/klass ruby benchmark
  bin/benchmark_cli/ruby.rb
  bin/benchmark_cli/ruby/self_class.rb
Due: rubocop, reek, forspell

chore: improve error demo CLI
  Gemfile.lock
  bin/all_the_errors
  bin/errors
  flows.gemspec
Due: rubocop

chore: improve Railway errors
  bin/all_the_errors
  bin/errors
  bin/errors_cli/railway_error_demo.rb
  lib/flows/railway.rb
  lib/flows/railway/errors.rb
  lib/flows/railway/step_list.rb
Due: rubocop, reek, forspell

chore: improve Result errors
  bin/all_the_errors
  bin/errors
  bin/errors_cli/result_error_demo.rb
  lib/flows/result/errors.rb
Due: rubocop, reek, forspell

chore: improve SCP errors
  bin/all_the_errors
  bin/errors
  bin/errors_cli/scp_error_demo.rb
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/errors.rb
  lib/flows/shared_context_pipeline/track.rb
  lib/flows/shared_context_pipeline/track_list.rb
Due: rubocop, reek, forspell

chore: documentation and CI updates
  .github/workflows/build.yml
  .rubocop.yml
  README.md
  forspell.dict
  lefthook.yml
  lib/flows.rb
  lib/flows/contract.rb
  lib/flows/flow.rb
  lib/flows/plugin.rb
  lib/flows/plugin/dependency_injector.rb
  lib/flows/shared_context_pipeline/step.rb
Due: rubocop, reek, markdownlinter, forspell

chore: changelog and CI updates
  .github/workflows/test.yml
  CHANGELOG.md
  README.md
Due: rubocop, markdownlinter, forspell

chore: README and CI updates
  .github/workflows/test.yml
  README.md
Due: rubocop, markdownlinter, forspell

docs: fix typo in CHANGELOG.md
  CHANGELOG.md
Due: rubocop, markdownlinter, forspell

docs: update readme
  README.md
Due: rubocop, markdownlinter, forspell

docs: update guides
  docs/README.md
Due: rubocop, markdownlinter, forspell

release: v0.4.0
  CHANGELOG.md
  Gemfile.lock
  lib/flows/version.rb
Due: rubocop, reek, markdownlinter, forspell

docs(readme): add section about GitHub flow
  README.md
Due: rubocop, markdownlinter, forspell

docs(readme): update CI badge
  README.md
  docs/README.md
Due: rubocop, markdownlinter, forspell

feat!: change SCP before_all callback #6
  lib/flows/shared_context_pipeline.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, forspell

feat!: change SCP after_all callback #6
  lib/flows/shared_context_pipeline.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, forspell

feat!: change SCP before_each callback #6
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/mutation_step.rb
  lib/flows/shared_context_pipeline/step.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, forspell

feat!: change SCP after_each callback #6
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/mutation_step.rb
  lib/flows/shared_context_pipeline/step.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, forspell

docs: update CHANGELOG
  CHANGELOG.md
Due: rubocop, markdownlinter, forspell

feat!: improve callback api (#8)
  CHANGELOG.md
  README.md
  docs/README.md
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/mutation_step.rb
  lib/flows/shared_context_pipeline/step.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, markdownlinter, forspell

refactor!(#11): simplify PrependToClass API
  lib/flows/plugin/dependency_injector.rb
  lib/flows/util/prepend_to_class.rb
  spec/flows/util/prepend_to_class_spec.rb
Due: rubocop, reek, forspell

refactor!(#11): simplify DupStrategy
  lib/flows/plugin/dependency_injector.rb
  lib/flows/plugin/output_contract/dsl.rb
  lib/flows/railway/dsl.rb
  lib/flows/shared_context_pipeline/dsl.rb
  lib/flows/util/inheritable_singleton_vars.rb
  lib/flows/util/inheritable_singleton_vars/dup_strategy.rb
  spec/flows/util/inheritable_singleton_vars/dup_strategy_spec.rb
  spec/flows/util/inheritable_singleton_vars_spec.rb
Due: rubocop, reek, forspell

refactor!(#11): simplify IsolationStrategy
  lib/flows/result/do.rb
  lib/flows/util/inheritable_singleton_vars/isolation_strategy.rb
  spec/flows/util/inheritable_singleton_vars/isolation_strategy_spec.rb
  spec/flows/util/inheritable_singleton_vars_spec.rb
Due: rubocop, reek, forspell

Path conditions:
  rubocop: any of: {*.rb,*.md,*.gemspec,Gemfile,Rakefile}
  reek: any of: *.rb, but not: ^spec
  markdownlinter: any of: *.md
  forspell: any of: {*.md,*.rb}
