Repository ffloyd/flows: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, reek, markdownlinter, forspell

rubocop:
  run: bundle exec rubocop {staged_files}

reek:
  run: bundle exec reek {staged_files}

markdownlinter:
  run: bundle exec mdl {staged_files}

forspell:
  run: bundle exec forspell {staged_files}

feat: `Flows::Plugin::Interface` basic implementation
  CHANGELOG.md
  bin/errors
  bin/errors_cli/interface_error_demo.rb
  lib/flows/plugin.rb
  lib/flows/plugin/interface.rb
  lib/flows/util/prepend_to_class.rb
  spec/flows/plugin/interface_spec.rb
Due: rubocop, reek, markdownlinter, forspell

release: v0.6.0
  CHANGELOG.md
  lib/flows/version.rb
Due: rubocop, reek, markdownlinter, forspell

fix!: make it work with Ruby 3+
  .ruby-version
  flows.gemspec
  spec/flows/flow/router/custom_spec.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, forspell

refactor: fix Rubocop warnings
  .rubocop.yml
  Gemfile
  bin/benchmark_cli/ruby/structs.rb
  flows.gemspec
  lib/flows/contract/compose.rb
  lib/flows/contract/either.rb
  lib/flows/contract/hash_of.rb
  lib/flows/contract/tuple.rb
  lib/flows/flow/router.rb
  lib/flows/plugin/dependency_injector.rb
  lib/flows/plugin/implicit_init.rb
  lib/flows/plugin/output_contract/errors.rb
  lib/flows/plugin/profiler/report.rb
  lib/flows/plugin/profiler/report/flat/method_report.rb
  lib/flows/railway/step_list.rb
  lib/flows/util/inheritable_singleton_vars.rb
  lib/flows/util/prepend_to_class.rb
  spec/flows/contract_spec.rb
  spec/flows/flow/router/custom_spec.rb
  spec/flows/flow_spec.rb
  spec/flows/plugin/interface_spec.rb
  spec/flows/plugin/profiler/report/tree_spec.rb
  spec/flows/plugin/profiler_spec.rb
  spec/flows/railway_spec.rb
  spec/flows/result/do_spec.rb
  spec/flows/shared_context_pipeline_spec.rb
  spec/flows/util/prepend_to_class_spec.rb
  spec/flows_spec.rb
  spec/spec_helper.rb
  spec/support/shared.rb
Due: rubocop, reek, forspell

refactor: Flows Do spec to improve readability
  spec/flows/result/do_spec.rb
Due: rubocop, forspell

fix: Do-notation wrapping in Ruby 3
  lib/flows/result/do.rb
  spec/flows/result/do_spec.rb
Due: rubocop, reek, forspell

chore: enable usage of `nix develop` + `direnv`
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: none

chore: add solargraph support
  .solargraph.yml
  flake.nix
Due: none

fix: error in output contract method wrapping
  lib/flows/plugin/output_contract/wrapper.rb
  spec/flows/plugin/output_contract_spec.rb
  spec/flows/result/do_spec.rb
Due: rubocop, reek, forspell

fix: error in Profiler wrapper
  lib/flows/plugin/profiler/wrapper.rb
  spec/flows/plugin/profiler_spec.rb
Due: rubocop, reek, forspell

Path conditions:
  rubocop: any of: {*.rb,*.md,*.gemspec,Gemfile,Rakefile}
  reek: any of: *.rb, but not: ^spec
  markdownlinter: any of: *.md
  forspell: any of: {*.md,*.rb}
