Repository ffloyd/flows: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, reek, markdownlinter, forspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "{*.rb,*.md,*.gemspec,Gemfile,Rakefile}"
      run: bundle exec rubocop {staged_files}
    reek:
      glob: "*.rb"
      exclude: "^spec"
      run: bundle exec reek {staged_files}
    markdownlinter:
      glob: "*.md"
      run: bundle exec mdl {staged_files}
    forspell:
      glob: "{*.md,*.rb}"
      run: bundle exec forspell {staged_files}

docs(#11): update CHANGELOG
  CHANGELOG.md
Due: rubocop, markdownlinter, forspell

refactor!(#11): Flows::Util API rework (#13)
  CHANGELOG.md
  lib/flows/plugin/dependency_injector.rb
  lib/flows/plugin/output_contract/dsl.rb
  lib/flows/railway/dsl.rb
  lib/flows/result/do.rb
  lib/flows/shared_context_pipeline/dsl.rb
  lib/flows/util/inheritable_singleton_vars.rb
  lib/flows/util/inheritable_singleton_vars/dup_strategy.rb
  lib/flows/util/inheritable_singleton_vars/isolation_strategy.rb
  lib/flows/util/prepend_to_class.rb
  spec/flows/util/inheritable_singleton_vars/dup_strategy_spec.rb
  spec/flows/util/inheritable_singleton_vars/isolation_strategy_spec.rb
  spec/flows/util/inheritable_singleton_vars_spec.rb
  spec/flows/util/prepend_to_class_spec.rb
Due: rubocop, reek, markdownlinter, forspell

docs: improve README
  README.md
Due: rubocop, markdownlinter, forspell

docs(#7): documentation for SCP wrappers
  lib/flows/shared_context_pipeline.rb
Due: rubocop, reek, forspell

refactor(#7): split track and callbacks DSLs for SCP
  lib/flows/shared_context_pipeline/dsl.rb
  lib/flows/shared_context_pipeline/dsl/callbacks.rb
  lib/flows/shared_context_pipeline/dsl/tracks.rb
Due: rubocop, reek, forspell

feat(#7): wrap DSL for SCP
  .reek.yml
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/dsl/tracks.rb
  lib/flows/shared_context_pipeline/track.rb
  lib/flows/shared_context_pipeline/track_list.rb
  lib/flows/shared_context_pipeline/wrap.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, forspell

feat: throw error during Flow.new when routing is invalid
  bin/all_the_errors
  bin/errors
  bin/errors_cli/flow_error_demo.rb
  lib/flows/flow.rb
  lib/flows/flow/errors.rb
  lib/flows/flow/node.rb
  lib/flows/flow/router.rb
  lib/flows/flow/router/custom.rb
  lib/flows/flow/router/simple.rb
  spec/flows/flow/router/custom_spec.rb
  spec/flows/flow/router/simple_spec.rb
  spec/flows/flow_spec.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, forspell

docs: update CHANGELOG
  .mdlrc
  CHANGELOG.md
  Rakefile
Due: rubocop, markdownlinter, forspell

feat(#7): SCP wrap DSL (#14)
  .mdlrc
  .reek.yml
  CHANGELOG.md
  README.md
  Rakefile
  bin/all_the_errors
  bin/errors
  bin/errors_cli/flow_error_demo.rb
  lib/flows/flow.rb
  lib/flows/flow/errors.rb
  lib/flows/flow/node.rb
  lib/flows/flow/router.rb
  lib/flows/flow/router/custom.rb
  lib/flows/flow/router/simple.rb
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/dsl.rb
  lib/flows/shared_context_pipeline/dsl/callbacks.rb
  lib/flows/shared_context_pipeline/dsl/tracks.rb
  lib/flows/shared_context_pipeline/track.rb
  lib/flows/shared_context_pipeline/track_list.rb
  lib/flows/shared_context_pipeline/wrap.rb
  spec/flows/flow/router/custom_spec.rb
  spec/flows/flow/router/simple_spec.rb
  spec/flows/flow_spec.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, markdownlinter, forspell

refactor: improve CaseEq error
  CHANGELOG.md
  lib/flows/contract/case_eq.rb
  spec/flows/contract/array_spec.rb
  spec/flows/contract/case_eq_spec.rb
  spec/flows/contract/compose_spec.rb
  spec/flows/contract/either_spec.rb
  spec/flows/contract/hash_of_spec.rb
  spec/flows/contract/hash_spec.rb
  spec/flows/contract/transformer_spec.rb
  spec/flows/contract/tuple_spec.rb
  spec/flows/plugin/output_contract_spec.rb
  spec/support/shared.rb
Due: rubocop, reek, markdownlinter, forspell

feat: OutputContract skip DSL
  .reek.yml
  CHANGELOG.md
  lib/flows/plugin/output_contract.rb
  lib/flows/plugin/output_contract/dsl.rb
  lib/flows/plugin/output_contract/wrapper.rb
Due: rubocop, reek, markdownlinter, forspell

docs: fix typos
  lib/flows/plugin/output_contract/dsl.rb
  lib/flows/util/inheritable_singleton_vars/isolation_strategy.rb
Due: rubocop, reek, forspell

feat: added Profiler plugin
  .reek.yml
  lib/flows/plugin.rb
  lib/flows/plugin/profiler.rb
  lib/flows/plugin/profiler/injector.rb
  lib/flows/plugin/profiler/report.rb
  lib/flows/plugin/profiler/report/raw.rb
  lib/flows/plugin/profiler/wrapper.rb
  spec/flows/plugin/profiler/report/raw_spec.rb
  spec/flows/plugin/profiler_spec.rb
Due: rubocop, reek, forspell

refactor: Profiler Report structure
  .reek.yml
  lib/flows/plugin/profiler/report.rb
  lib/flows/plugin/profiler/report/events.rb
  lib/flows/plugin/profiler/report/raw.rb
Due: rubocop, reek, forspell

feat: Tree Report for Profiler plugin
  .reek.yml
  CHANGELOG.md
  lib/flows/plugin/profiler/injector.rb
  lib/flows/plugin/profiler/report.rb
  lib/flows/plugin/profiler/report/tree.rb
  lib/flows/plugin/profiler/report/tree/node.rb
  lib/flows/plugin/profiler/wrapper.rb
  spec/flows/plugin/profiler/report/raw_spec.rb
  spec/flows/plugin/profiler/report/tree_spec.rb
Due: rubocop, reek, markdownlinter, forspell

refactor: Profiler Tree report structure
  lib/flows/plugin/profiler/report/tree.rb
  lib/flows/plugin/profiler/report/tree/calculated_node.rb
  lib/flows/plugin/profiler/report/tree/node.rb
Due: rubocop, reek, forspell

feat: Flat Report for Profiler plugin
  CHANGELOG.md
  lib/flows/plugin/profiler/report.rb
  lib/flows/plugin/profiler/report/flat.rb
  lib/flows/plugin/profiler/report/flat/method_report.rb
  lib/flows/plugin/profiler/report/tree/calculated_node.rb
  spec/flows/plugin/profiler/report/flat_spec.rb
Due: rubocop, reek, markdownlinter, forspell

fix: contract check when contract is skipped
  lib/flows/plugin/output_contract/wrapper.rb
Due: rubocop, reek, forspell

feat: various changes before 0.5.0 (#16)
  .reek.yml
  CHANGELOG.md
  lib/flows/contract/case_eq.rb
  lib/flows/plugin.rb
  lib/flows/plugin/output_contract.rb
  lib/flows/plugin/output_contract/dsl.rb
  lib/flows/plugin/output_contract/wrapper.rb
  lib/flows/plugin/profiler.rb
  lib/flows/plugin/profiler/injector.rb
  lib/flows/plugin/profiler/report.rb
  lib/flows/plugin/profiler/report/events.rb
  lib/flows/plugin/profiler/report/flat.rb
  lib/flows/plugin/profiler/report/flat/method_report.rb
  lib/flows/plugin/profiler/report/raw.rb
  lib/flows/plugin/profiler/report/tree.rb
  lib/flows/plugin/profiler/report/tree/calculated_node.rb
  lib/flows/plugin/profiler/report/tree/node.rb
  lib/flows/plugin/profiler/wrapper.rb
  lib/flows/util/inheritable_singleton_vars/isolation_strategy.rb
  spec/flows/contract/array_spec.rb
  spec/flows/contract/case_eq_spec.rb
  spec/flows/contract/compose_spec.rb
  spec/flows/contract/either_spec.rb
  spec/flows/contract/hash_of_spec.rb
  spec/flows/contract/hash_spec.rb
  spec/flows/contract/transformer_spec.rb
  spec/flows/contract/tuple_spec.rb
  spec/flows/plugin/output_contract_spec.rb
  spec/flows/plugin/profiler/report/flat_spec.rb
  spec/flows/plugin/profiler/report/raw_spec.rb
  spec/flows/plugin/profiler/report/tree_spec.rb
  spec/flows/plugin/profiler_spec.rb
  spec/support/shared.rb
Due: rubocop, reek, markdownlinter, forspell

release: v0.5.0
  CHANGELOG.md
  Gemfile.lock
  README.md
  lib/flows/version.rb
Due: rubocop, reek, markdownlinter, forspell

fix(#18): wrap DSL + inheritance
  CHANGELOG.md
  lib/flows/shared_context_pipeline/wrap.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, markdownlinter, forspell

refactor: remove Gemfile.lock git tracking
  .gitignore
  .rubocop.yml
  Gemfile.lock
  lib/flows/result/do.rb
  lib/flows/shared_context_pipeline/wrap.rb
Due: rubocop, reek, forspell

release: 0.5.1
  CHANGELOG.md
  lib/flows/version.rb
Due: rubocop, reek, markdownlinter, forspell

refactor: update Ruby version for developent
  .ruby-version
Due: none

refactor: apply Rubocop autocorrections
  bin/errors
  lib/flows/contract.rb
  lib/flows/contract/error.rb
  lib/flows/plugin/dependency_injector/dependency_list.rb
  lib/flows/plugin/output_contract/errors.rb
  lib/flows/plugin/profiler/report/flat/method_report.rb
  lib/flows/plugin/profiler/report/tree/calculated_node.rb
  lib/flows/plugin/profiler/report/tree/node.rb
  lib/flows/shared_context_pipeline/dsl/callbacks.rb
  lib/flows/shared_context_pipeline/wrap.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, forspell

refactor: satisfy newer Rubocop version
  .rubocop.yml
  .rubocop_todo.yml
  bin/benchmark_cli/examples/.rubocop.yml
  flows.gemspec
  lib/flows/plugin/output_contract/dsl.rb
  spec/flows/railway_spec.rb
Due: rubocop, reek, forspell

refactor!: change SCP callbacks to use `instance_exec`
  CHANGELOG.md
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/mutation_step.rb
  lib/flows/shared_context_pipeline/step.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, markdownlinter, forspell

fix: inheritable issues with multiple includes of the same module
  CHANGELOG.md
  lib/flows/plugin/dependency_injector.rb
  lib/flows/util/inheritable_singleton_vars/dup_strategy.rb
  lib/flows/util/prepend_to_class.rb
  spec/flows/plugin/dependency_injector_spec.rb
  spec/flows/util/inheritable_singleton_vars/dup_strategy_spec.rb
Due: rubocop, reek, markdownlinter, forspell

feat: `Flows::Plugin::Interface` basic implementation
  CHANGELOG.md
  bin/errors
  bin/errors_cli/interface_error_demo.rb
  lib/flows/plugin.rb
  lib/flows/plugin/interface.rb
  lib/flows/util/prepend_to_class.rb
  spec/flows/plugin/interface_spec.rb
Due: rubocop, reek, markdownlinter, forspell

feat: simple pipeline injection for SCP
  CHANGELOG.md
  lib/flows/plugin/interface.rb
  lib/flows/shared_context_pipeline.rb
  lib/flows/shared_context_pipeline/dsl/tracks.rb
  lib/flows/shared_context_pipeline/step.rb
  lib/flows/shared_context_pipeline/track.rb
  lib/flows/util/prepend_to_class.rb
  spec/flows/shared_context_pipeline_spec.rb
Due: rubocop, reek, markdownlinter, forspell

refactor: satisfy newer Rubocop version
  lib/flows/railway/step.rb
Due: rubocop, reek, forspell
